<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 상세 화면</title>
    <link rel="stylesheet" href="../css/style.css"></link>
</head>
<body>
<div class="container">
    <h2>공지사항 상세 화면</h2>
    <form id="frm" method="post">
        <table class="notice">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <caption>공지사항 상세내용</caption>
            <tbody>
            <tr>
                <th scope="row">글 번호</th>
                <td th:text="${notice.noticeIdx}"></td>
                <th scope="row">조회수</th>
                <td th:text="${notice.views}"></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td th:text="${notice.creatorId}"></td>
                <th scope="row">작성일</th>
                <td th:text="${#temporals.format(notice.createdDatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th scope="row">제목</th>
                <td colspan="3">
                    <input type="text" id="title" name="title"
                           th:value="${notice.title }"/>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
							<textarea title="내용" id="contents" name="contents"
                                      th:text="${notice.contents }"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="noticeIdx" th:value="${notice.noticeIdx}">
    </form>

    <input type="button" id="list" value="목록으로">
    <input type="button" id="edit" value="수정하기">
    <input type="button" id="delete" value="삭제하기">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#list").on("click", function () {
                location.href = "notices";
            });

            $("#edit").on("click", function () {
                var frm = $("#frm")[0];
                frm.action = "update_notice";
                frm.submit();
            });

            $("#delete").on("click", function () {
                var frm = $("#frm")[0];
                frm.action = "delete_notice";
                frm.submit();
            });
        })
    </script>
</div>
</body>
</html>