<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" href="../css/style.css"></link>
</head>
<body>
<div class="container">
    <h2>공지사항</h2>
    <select id="size" style="float: right;">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
    </select>
    <table class="notices">
        <colgroup>
            <col width="15%"/>
            <col width="*"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
            <td th:text="${list.noticeIdx}"></td>
            <td class="title">
                <a href="/notice?noticeIdx=" th:attrappend="href=${list.noticeIdx}" th:text="${list.title}"></a>
            </td>
            <td class="views" th:text="${list.views}"></td>
            <td th:text="${#temporals.format(list.createdDatetime,
                        'yyyy-MM-dd HH:mm::ss')}"></td>
        </tr>
        <tr th:unless="${#lists.size(list)} > 0">
            <td colspan="4">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <a href="/new_notice" class="btn">글 쓰기</a>
    <select id="sort" style="float: right;">
        <option value="created_datetime">날짜순</option>
        <option value="views">조회수</option>
    </select>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let query = window.location.search;
        let param = new URLSearchParams(query);
        let sort = param.get('sort');
        let size = param.get('size');

        if (sort != null) {
            $("#sort").val(sort)
        }

        if (size != null) {
            $("#size").val(size)
        }


        $("#sort").change(function () {
            location.href = "notices?sort=" + $("#sort").val() + "&size=" + $("#size").val();
        });

        $("#size").change(function () {
            location.href = "notices?sort=" + $("#sort").val() + "&size=" + $("#size").val();
        });

    })
</script>
</body>
</html>